* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;   
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
 list-style: none;  
}
a{
 text-decoration: none; 
 color: white;   
}

h2,h1,p {
color: aliceblue;  
letter-spacing: 1px;  
}

img {
 height: 230px;
 width: 450px;
 border-radius: 12px;  
}

button {
padding: 5px 20px;
margin: 13px 0px 0px 2px;  
color: white;
background-color: #3882f6;
border-radius: 7px;
border-style: none;  
font-weight: bold;
}

.header {
 display: flex;
 justify-content: space-around;   
 background-color: #1f2937;
 padding: 1rem;
 padding-bottom: 12rem;
 gap: 23rem;
}

.right-links {
 display: flex;
 gap: 2rem;
 align-items: center;
}

.hero {
 background-color: #1f2937;  
 display: flex;
 justify-content: space-evenly; 
 padding-bottom: 122px;
}